body{
  background-color: #BFECD1;

  color: #2F2F30;
}

h1{
  font-family: 'Bitter', serif;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
    margin: auto;
}

h2{
  font-family: 'Bitter', serif;
  padding-left: 25%;
  padding-right: 25%;
    text-align: left;
      margin: auto;
}

h3{
  font-family: 'Bitter', serif;
  padding-left: 25%;
  padding-right: 25%;
    text-align: left;
      margin: auto;
}


li{
  font-family: 'Raleway', sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
    margin: auto;
}

p{
  font-family: 'Raleway', sans-serif;
  padding-left: 25%;
  padding-right: 25%;
    text-align: left;
      margin: auto;
}
